In [7]:
import pandas as pd

In [9]:
dataset = pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [11]:
dataset = pd.get_dummies(dataset,dtype=int, drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [13]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [15]:
independent = dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [17]:
dependent = dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [21]:
! pip install xgboost

Requirement already satisfied: xgboost in c:\anaconda\lib\site-packages (2.1.2)
Requirement already satisfied: numpy in c:\anaconda\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\anaconda\lib\site-packages (from xgboost) (1.13.1)

In [31]:
from sklearn.model_selection import GridSearchCV #Here cv refers to Cross Validation
import xgboost as xgb

#Creating a Dictionary for Playable Parameters
#param_grid = {'estimator':[None],'n_estimators':[50], 'learning_rate':[1.0], 'loss':['linear'], 'random_state':[None]}

#if refit = false then final model will be considered as Last Combination of parameter_grid like (linear,3000,scale)
#n_jobs = -1 refers to Run all the Models Parallely
#regressor = xgb.XGBRegressor()
grid = GridSearchCV(xgb.XGBRegressor(), refit = True, verbose = 3, n_jobs = -1)

#All the above steps are called "Procedure Load"

#Model Creation
grid.fit(X_train,Y_train)

TypeError: GridSearchCV.__init__() missing 1 required positional argument: 'param_grid'

In [27]:
#Model creation using XG Boost Algorithm
#XG Boosting Works out in Deep Level based on any one Threshold Value Like Age = 50 and comaparing with Output
import xgboost as xgb
regressor = xgb.XGBRegressor()

regressor=regressor.fit(X_train,Y_train)

In [29]:
#prediction
#Keyword - predict is function of Application 
Y_pred=regressor.predict(X_test)

In [31]:
# Evaluation Metrics - Calculate R-Square Value
from sklearn.metrics import r2_score
r_score = r2_score(Y_test,Y_pred)
r_score

0.8213337154158369

In [33]:
# Naming the Model with its extension .sav
import pickle
filename = "finalized_model_XG_Boosting_Algorithm_Assignment.sav"

#Model will be saved in respective path, once after the below Code Execution
# Keyword - wb refers to "write binary"
pickle.dump(regressor,open(filename,'wb'))

In [35]:
# Load the Saved Model and check the same to send it for Phase-02 (Deployment)
# # Keyword - rb refers to "read binary"

loaded_model=pickle.load(open("finalized_model_XG_Boosting_Algorithm_Assignment.sav",'rb'))
result = loaded_model.predict([[10000,20000,3000,1,0]]) 
result

array([25430.83], dtype=float32)